<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('crud.static',filename='style.css')}}"/>
</head>
<body>
    <div>
        {% if current_user.is_authenticated %}
        <span class="login">
            <span>관리자 : </span>
            <span>{{ current_user.username }}</span>
            <span><a href="{{url_for('auth.logout')}}">로그아웃</a></span>
        </span>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>