{% extends "crud/base.html" %}
{% block title%}신규 물품 등록{% endblock %}
{% block content %}
<div class="container">
    <h2>신규 물품 등록</h2>
    <form
        action="{{url_for('crud.create_goods')}}"
        method="POST"
        novalidate="novalidate"
    >
        {{form.csrf_token}}
        <p>
            {{ form.itemname.label}} {{form.itemname(placeholder="물품명")}}
        </p>
        {% for error in form.itemname.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        <p>
            {{ form.item_quantity.label}} {{form.item_quantity(placeholder="제품 수량")}}
        </p>
        {% for error in form.item_quantity.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        <p>
            {{ form.time.label}} {{form.time(placeholder="날짜 시간" )}}
        </p>
        {% for error in form.time.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        <p>
            {{ form.item_description.label}} {{form.item_description(placeholder="제품 설명")}}
        </p>
        {% for error in form.item_description.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}