{% extends "crud/base.html" %}
{% block title%}제품 목록{% endblock %}
{% block content %}
    <div class="title">
    <h2 class="h2">제품 목록</h2>
    </div>
    
    <div class="container">
    <p class="link"><a class="a" href="{{url_for('crud.create_goods',filename='style.css')}}">신규 제품 등록</a></p>
    <table class="table_goods">
        <tr>
            <th>물품 ID</th>
            <th>물품명</th>
            <th>물품 수량</th>
            <th>시간</th>
            <th>물품 설명</th>
        </tr>
        {% for item in goods%}
        <tr>
            <td>
                {{ item.id }}
            </td>
            <td>{{ item.itemname}}</td>
            <td>{{ item.item_quantity}}</td>
            <td>{{ item.time.strftime('%Y-%m-%d %H:%M')}}</td>
            <td>{{ item.item_description}}</td>
            <td>
                <a href="{{ url_for('crud.change_quantity',goods_id=item.id)}}"><button>수량변경</button></a>
            </td>
            <td>
                <form
                    action="{{url_for('crud.delete_goods', goods_itemname = item.itemname)}}"
                    method="POST"
                >
                    {{ form.csrf_token }}
                    <input type="submit" value="삭제">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <details class="details">
        <summary>LOG보기</summary>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <select id="goods" name="items">
            <option value="전체">전체</option>
            {% for item in goods%}
            <option value={{item.itemname}}>{{ item.itemname }}</option>
            {% endfor %}
        </select>

        <ul id="log_value">
            {% for log in logs %}
            <li class="log-item">
                {{log.log_id}}
                {{log.log_itemname}}
                <span>입/출고:</span>
                {% if log.log_item_quantity is not none %}
                    {% if log.log_item_quantity > 0 %}
                        <span>+</span>{{ log.log_item_quantity }}
                    {% else %}
                        {{ log.log_item_quantity }}
                    {% endif %}
                {% else %}
                    <span>삭제</span>
                {% endif %}
                <span>현재 수량:</span>
                {% if log.log_item_quantity is not none %}
                    {{log.log_item_quantity_now}}
                {% else %}
                    <span>삭제</span>
                {% endif %}
                <span>시간:</span>{{log.log_time.strftime('%Y-%m-%d %H:%M:%S')}}
                <span>관리자:</span>{{log.log_representative}}
                
            </li>
            {% endfor %}
            
            <form
                action="{{url_for('crud.delete_log')}}"
                method="POST"
                onsubmit="return Delete()"
            >
                {{ form.csrf_token }}
                <input type="submit" value="LOG삭제" >
            </form>
            
        </ul>
    </details>

    </div>

    <!-- <script>
        let a = document.querySelector("#goods")
        a.addEventListener("change",()=>{
            let b = document.querySelector("#log_value")
            b.innerHTML=""
        })

    </script> -->
    <script>
        let a = document.querySelector("#goods")
        let csrf_token_value = "{{ form.csrf_token._value() }}";
        a.addEventListener("change",()=>{
            let b = document.querySelector("#goods")
            fetch("{{ url_for('crud.log_value')}}", {
                method :"POST",
                headers:{
                    'Content-Type': 'application/json;charset=utf-8',
                    "X-CSRFToken": csrf_token_value,  // CSRF 토큰 값
                },
                body : JSON.stringify({ // 여기서 사용
                        value: b.value
                    }),
            })
            .then(response => response.json()) // JSON 형식으로 파싱
            .then(data => {

                let a = document.querySelector("#log_value")
                a.innerHTML=""
                for(let i=0; i<data.length; i++){
                    let b = document.createElement("li")
                    if (data[i].log_item_quantity == null){
                        data[i].log_item_quantity = "삭제"
                    }
                    if (data[i].log_item_quantity_now == null){
                        data[i].log_item_quantity_now = "삭제"
                    }
                    b.textContent =
                                data[i].log_id+" "+
                                data[i].log_itemname+" 입/출고: "+
                                data[i].log_item_quantity+" 현재 수량: "+
                                data[i].log_item_quantity_now+" 시간: "+
                                data[i].log_time+" 관리자: "+
                                data[i].log_representative
                    a.appendChild(b)
                }
            })

        })

    </script>

    <script>
        function Delete() {
            if (confirm("정말 삭제하시겠습니까?")) {
                return true
            }else{
                return false
            }
        }
    </script>
{% endblock %}